.TB
{
				height: 1800px;
				width: 965px;
				background-color: white;
}

.H1
{
				font-size: 30px;
				font-weight: bold;		
}

.study
{
				height: 50px;
				width: 100px;
}

.photo
{
				height: 400px;
				width: 800px;
}

pre
{
				font-size: 50px;
				color:red;
				font-weight: bold;
}
